{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
    {% if page.sidebar %}
    {% for s in page.sidebar %}
    {% if s.image %}
    <img src=
         {% if s.image contains "://" %}
         "{{ s.image }}"
         {% else %}
         "{{ s.image | relative_url }}"
         {% endif %}
         alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
    {% endif %}
    {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
    {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
    {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
    {% endif %}
    <!-- <!-1- Start of ads banner code -1-> -->
    <!-- <a href="https://c.jumia.io/?a=142706&c=617&p=r&E=kkYNyk2M4sk%3D&utm_campaign=142706&utm_term="target="_blank"> -->
    <!--     <img src="https://affiliates.jumia.com/banners/Jumia Kenya/Computingandaccessories/250x250.png"/> -->
    <!-- </a> -->
    <!-- <a href="https://c.jumia.io/?a=142706&c=1530&p=r&E=kkYNyk2M4sk%3D&utm_campaign=142706&utm_term="target="_blank"> -->
    <!--     <img src="https://affiliates.jumia.com/banners//5ce67da26c882250-x250.png"/> -->
    <!-- </a> -->
    <!-- <a href="https://shrinkme.io/ref/TralahM"target="_blank"><img src="https://shrinkme.io/banners/ref/728x90.png" title="Make short links and earn the biggest money" /></a> -->
    <!-- <!-1- End of banner code -1-> -->
</div>
{% endif %}
